@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap");

@import "tailwindcss";

@theme {
    --font-satoshi: Satoshi, sans-serif;
    --font-nunito: 'Nunito', sans-serif;

    --color-primary: #9D174D;
    --color-accent: oklch(40.8% 0.153 2.432);
    --color-secondary: oklch(98% 0.016 73.684);
    --color-secondary-accent: oklch(95.4% 0.038 75.164);
}

@layer base {
    .nav-item {
        @apply text-primary font-semibold hover:text-white hover:bg-primary rounded-sm transition duration-300 px-4 py-1.5;
    }

    .nav-item-active {
        @apply font-semibold text-white bg-primary rounded-sm transition duration-300 px-4 py-1.5;
    }

    .btn-primary {
        @apply font-semibold bg-primary hover:bg-accent text-white rounded-md px-5 py-2.5 hover:cursor-pointer transition duration-600
    }

    .btn-secondary {
        @apply font-semibold bg-secondary hover:bg-secondary-accent text-primary rounded-md px-5 py-2.5 text-sm hover:cursor-pointer transition duration-600
    }

    .input,
    .textarea {
        @apply w-full rounded-md border border-zinc-200 bg-white px-3 py-2 text-sm outline-none
        focus:ring-2 focus:ring-primary/40 transition duration-300;
    }

    .textarea {
        @apply resize-none;
    }

    .input:hover,
    .textarea:hover {
        @apply border-primary/40;
    }

    html {
        @apply scroll-smooth;
    }

    h1 {
        @apply text-4xl md:text-5xl font-extrabold;
    }

    h2 {
        @apply text-primary text-3xl md:text-4xl font-extrabold;
    }
}
