@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap");

@import "tailwindcss";

@theme {
    --font-satoshi: Satoshi, sans-serif;
    --font-nunito: 'Nunito', sans-serif;

    --color-primary: #9D174D;
    --color-accent: oklch(40.8% 0.153 2.432);
    --color-secondary: oklch(98% 0.016 73.684);
}

@layer base {
    .nav-item {
        @apply text-primary font-semibold hover:text-white hover:bg-primary rounded-sm transition duration-300 px-4 py-1.5;
    }

    .nav-item-active {
        @apply font-semibold text-white bg-primary rounded-sm transition duration-300 px-4 py-1.5;
    }

    html {
        @apply scroll-smooth;
    }

    h1 {
        @apply text-4xl md:text-5xl font-extrabold;
    }
}
