@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap");

@import "tailwindcss";

@theme {
    --font-satoshi: Satoshi, sans-serif;
    --font-nunito: 'Nunito', sans-serif;

    --color-primary: #9D174D;
    --color-accent: oklch(40.8% 0.153 2.432);
    --color-secondary: oklch(98% 0.016 73.684);
    --color-secondary-accent: oklch(95.4% 0.038 75.164);
}

@layer base {

    html {
        @apply scroll-smooth;
    }

    h1 {
        @apply text-4xl md:text-5xl font-extrabold;
    }

    h2 {
        @apply text-primary text-3xl md:text-4xl font-extrabold;
    }

    .container {
        @apply mx-auto max-w-6xl px-4;
    }

    .nav-item {
        @apply text-primary font-semibold hover:text-white hover:bg-primary rounded-sm transition duration-300 px-4 py-1.5;
    }

    .nav-item-active {
        @apply font-semibold text-white bg-primary rounded-sm transition duration-300 px-4 py-1.5;
    }

    .btn-primary {
        @apply font-semibold bg-primary hover:bg-accent text-white rounded-md px-5 py-2.5 hover:cursor-pointer transition duration-600
    }

    .btn-secondary {
        @apply font-semibold bg-secondary hover:bg-secondary-accent text-primary rounded-md px-5 py-2.5 text-sm hover:cursor-pointer transition duration-600
    }

    .btn-primary-sm {
        @apply font-semibold bg-primary hover:bg-accent text-white rounded-md px-3 py-2.25 text-sm hover:cursor-pointer transition duration-600;
    }

    .btn-secondary-sm {
        @apply font-semibold bg-secondary hover:bg-secondary-accent text-primary rounded-md px-3 py-2.25 text-xs hover:cursor-pointer transition duration-600;
    }

    .input,
    .textarea {
        @apply w-full rounded-md border border-zinc-200 bg-white px-3 py-2 text-sm outline-none
        focus:ring-2 focus:ring-primary/40 transition duration-300;
    }

    .textarea {
        @apply resize-none;
    }

    .input:hover,
    .textarea:hover {
        @apply border-primary/40;
    }

    .badge-apero {
        background-color: #f59e0b;
    }

    .badge-entree {
        background-color: #22c55e;
    }

    .badge-sauce {
        background-color: #14b8a6;
    }

    .badge-plat {
        background-color: #ef4444;
    }

    .badge-dessert {
        background-color: #ec4899;
    }

    .badge-boisson {
        background-color: #3b82f6;
    }

    .badge-brunch {
        background-color: #9655d9;
    }

    .badge-apero,
    .badge-entree,
    .badge-sauce,
    .badge-plat,
    .badge-dessert,
    .badge-boisson,
    .badge-brunch {
        @apply inline-flex items-center rounded-full px-3 py-1 text-xs font-semibold text-white;
    }

}
